.topbar {
  background-color: #edf1ff;
  display: flex;
  padding: 10px 40px;
}
.topbarleft {
  flex: 1;
  gap: 10px;
}
.topbarleft > li {
  cursor: pointer;
}
.topbarright {
  flex: 1;
  display: flex;
  gap: 20px;
}
